@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@tailwind utilities;
@plugin "@tailwindcss/typography";

body {
    font-family: Karla, sans-serif;
    @apply text-[#1d1f2e] text-base leading-7 font-normal;
}

@theme {
    --color-light-coffee: #ecdfdb;
    --color-coffee: #a25f4b;
}
.bg-slider-home {
    background-image: linear-gradient(180deg, rgba(5, 8, 39, 0.4), rgba(5, 8, 39, 0.4)),
        url('https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7a58aaecdfba_Header-Pic.jpg');
    background-position: 0 0, 50% 50%;
    background-size: auto, cover;
}

.top-menu-item {
    @apply relative py-1
    after:content-['']
    after:absolute
    after:bottom-0
    after:left-0
    after:h-0.5
    after:w-0
    after:bg-coffee
    after:transition-all
    after:duration-300
    after:ease-in-out
    hover:after:w-full;
}

.underline-story {
    @apply relative py-1
    after:content-['']
    after:absolute
    after:bottom-0
    after:left-0
    after:h-0.5
    after:w-full
    after:bg-light-coffee
    hover:after:w-full
    hover:after:bg-coffee;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
}

.subheadline-deco-line {
    @apply inline-block w-7.5 h-px bg-[#ececed];
}

.title-coffee {
    @apply flex items-center justify-center uppercase font-semibold text-sm text-gray-500 mb-25 gap-5;
}

.magazine-image {
    width: 280px;
    height: 280px;
    margin-right: 20px;
    background-image: url(https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7a2f3decdfa9_Image.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.magazine-small-image-1 {
    width: 160px;
    height: 130px;
    margin-bottom: 20px;
    background-image: url(https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7aa6d0ecdfa7_Image%202.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.magazine-small-image-2 {
    width: 160px;
    height: 130px;
    background-image: url(https://assets.website-files.com/5be96251aaba7a7b19ecdf69/5be96251aaba7a528fecdfa6_Image.jpg);
    background-position: 50% 50%;
    background-size: cover;
}
